<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin/admin-page.css">
    <link rel="stylesheet" href="/static/css/admin/inquiry.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


    <title>스파클몰</title>
</head>

<body>
    <section id = "wrap">
        <header id = "hearder">
            <div class = "h-top w1260 clear">
                <h1 class = "logo">
                    <a href = "/">
                        <img id ="imgbox" src = "/static/images/img/logo.png" alt = "스파클몰 로고">
                    </a>
                </h1>
            </div>
            <!--.h-top-->
            <div id = "gnb">
                <div class = "gnb-in w1260 clear">
                    <ul class = "gnb clear">
                        <li class = "menu1">
                            <a href = "#none">
                                <span class = "ico"></span>
                                <span class = "txt">전체 카테고리</span>
                            </a>
                    
                            <div class = "gnb_sub w1260">
                                <ul>
                                    <li><a href = "/admin/inquiry/water">생수</a></li>
                                    <li><a href = "/admin/inquiry/spakle">탄산</a></li>
                                    <li><a href = "/admin/inquiry/waterSub">생수부자재</a></li>
                                </ul>
                            </div>
                        </li>
                        
                        <li class = "menu2">
                            <a href = "/admin/addition">
                                <span class = "txt">상품추가</span>
                            </a>
                        </li>

                        <li class = "menu2">
                            <a href = "/admin/inquiry">
                                <span class = "txt">상품조회</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </header>
        <div class="main-box">
            <section class="product-category">
                <h1>상품 조회</h1>
                <ul>
                    <li><a href="/admin/inquiry/water">생수</a></li>
                    <li><a href="/admin/inquiry/spakle">탄산</a></li>
                    <li><a href="/admin/inquiry/waterSub">생수부자재</a></li>
                </ul>
            </section>
            <section class="product-list">
                <h4>생수</h4>
                <p></p>
                    <div class="inquiry-box">
                        <img class="product-img" src="/static/images/product/500ml40.jpg">
                        <div class="product-explan">
                            <p>스파클 500mL 60병</p>
                            <p>13,800원</p>
                            <p>무료배송</p>
                        </div>
                        <div class="buttons">
                            <button type="button" class="delete-button">삭제</button>
                            <button type="button" class="correction-button">수정</button>
                        </div>
                    </div>
            </section>
        
        </div>

        <footer th:replace="~{fragment/footer :: footerFragment}"></footer>

    </section>

</body>