<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/section.css">
    <link rel="stylesheet" href="/static/css/order/bag.css">
    <link rel="stylesheet" href="/static/css/fragment/layout.css">
    <link rel="stylesheet" href="/static/css/sub.css">
    <link rel="stylesheet" href="/static/css/order/order.css">

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>


    <title>주문결제</title>
</head>
<body>
    <section id="wrap">
        <header th:replace="~{fragment/header :: headerFragment}"></header>
        <section id="content" class="member">
            <div class="new-box w1260">
                <div class="sub-title">
                    <p>주문결제</p>
                </div>
            </div>
            <div id="cart" class="cart-box w1260">
                <form name="cartForm" action="/api/order/prepare" method="post">
                    <input type="hidden" name="_token" value="ruPLtRASwAVoleNEubZayjjilBhYR68ZbXEkmhJT">
                    <input type="hidden" name="cart_id" value="3033722">
                    <div class="cart-top txt">
                        상품정보
                    </div>
                    <table class="cart_table">
                        <colgroup>
                            <col width="30%">
                            <col width="10%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>상품/옵션 정보</th>
                                <th>수량</th>
                                <th>판매가</th>
                                <th>할인금액</th>
                                <th>배송비</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!---- product --->
                            <tr class="border-b">
                                <td class="taL pro-option">
                                <input id="productId" type="hidden" th:value="${order.productId}">
                                <input id="quantity" type="hidden" th:value="${order.quantity}">
                                    <div class="proImg">
                                        <!---- 상품 이미지, 상세 get 요청  --->
                                        <img th:src="|/image/product/${order.img}|">
                                    </div>
                                    <div class="proTxt">
                                        <!--- go-product-text test ---->
                                        <span class="proState">스파클몰</span>
                                        <p class="water_name" th:text="${order.name}"></p>
                                        <span class="water-rate" th:text="|${order.rate}% 할인상품|"></span>
                                    </div>
                                </td>
                                <td><!---   동일 상품 주문 개수 --->
                                    <div class="spoqa" th:text="${order.quantity}"></div>
                                </td>
                                <td class="spoqa">
                                    <!---  상품 금액 * num ---->
                                    <div class="price-tag" th:text="|${order.getTotalPrice()}원|"></div>
                                    <input type="hidden" id="total-price" th:value="${order.getTotalPrice()}">
                                </td>
                                <td class="spoqa price-tag" th:text="|${order.getDiscountAmount()}원|"></td>
                                <input class="discount" type="hidden" th:value="${order.getDiscountAmount()}">
                                <td>무료배송</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="calc-box">
                    </div>
                    <div class="cart-total-price">
                    </div>
                    <!---      주문자 정보 및 결제 정보      -->
                    <div class="order-in">
                        <h4 class="com-tit">주문자정보</h4>
                        <div class="order-detail">
                            <dl class="clear">
                                <dt>이름</dt>
                                <dd>
                                    <input type="text" class="input_1" name="name" th:value="${principalUser.name}">
                                </dd>
                            </dl>
                            <dl class="clear">
                                <dt>휴대폰</dt>
                                <dd>
                                    <input type="text" class="input_1" name="phone" th:value="${principalUser.phone}">
                        
                                </dd>
                            </dl>
                        </div>
                        <div style="display: none;">
                            <input type="hidden" name="user_postcode" value="" disabled="">
                            <input type="hidden" name="user_address" value="" disabled="">
                            <input type="hidden" name="user_address_detail" value="" disabled="">
                        </div>
    
                        <div class="flex">
                            <h4 class="com-tit wid225">배송지정보</h4>
                        </div>
                        <div class="order-detail od2">
                            <dl class="clear mb10">
                                  <dt>이름</dt>
                                <dd>
                                    <input type="text" class="input_1" name="r_name" th:value="${principalUser.name}">
                                </dd>
                            </dl>
                            <dl class="clear mb10">
                                <dt>휴대폰</dt>
                                <dd>
                                    <input type="text" class="input_1" name="r_phone" th:value="${principalUser.phone}">
                                </dd>
                            </dl>
                            <dl class="clear mb10">
                                <dt>주소</dt>
                                <dd>
                                    <div class="address_inp">
                                        <input type="text" id="postcode" readonly="readonly" class="input_1 mb12 wid350" placeholder="우편번호" th:value="${principalUser.post_code}" style="background: rgba(0,0,0,.1); cursor: default; width: 6em;">
                                        <input type="button" value="우편번호찾기" class="find_post"> <br>
                                        <input type="text" id="address" readonly="readonly" placeholder="주소" class="adr" th:value="${principalUser.address}" style="background: rgba(0,0,0,.1); cursor: default;">
                                        <input type="text" id="address_detail" class="mb0 sub-adr" placeholder="상세주소 입력" th:value="${principalUser.detail_address}">
                                        <input type="hidden" id="address_data" value="">
                                        <input type="hidden" id="is_deliverable" value="">
                                        <p class="deliverable-show" style="display: none; color: #00f;">
                                            선택하신 배송지는 배송이 가능한 지역입니다.
                                        </p>
                                        <p class="deliverable-hide" style="display: none; color: #f00;">
                                            선택하신 배송지는 배송이 불가능한 지역입니다.
                                        </p>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="clear">
                                <dt>배송메세지</dt>
                                <dd>
                                    <div class="flex">
                                        <li class="deli-select">
                                            <span class="sel">배송 메세지 선택</span>
                                            <ul style="display: none;">
                                                <li onclick="$('#message').val('문 앞에 놓아주세요')">문 앞에 놓아주세요</li>
                                                <li onclick="$('#message').val('부재 시 경비실에 맡겨주세요')">부재 시 경비실에 맡겨주세요</li>
                                                <li onclick="$('#message').val('부재 시 연락주세요')">부재 시 연락주세요</li>
                                                <li onclick="$('#message').val('')" class="selfText">직접입력</li>
                                            </ul>
                                            <span class="arrow"></span>
                                        </li>
                                        <div class="self">
                                            <input type="text" class="self-input input_1" id="message" name="message" value="">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="door-inp"><input type="text" placeholder="공동현관" class="door" name="door_password" value=""></div>
                                        <div class="event">
                                            <input type="checkbox" id="eventChk" class="eventChk" name="recallpet" value="1">
                                            <label for="eventChk">
                                                <img src="/static/images/img/leaf_icon.png" alt="" class="leaf">
                                                페트병회수 참여하기 (사은품 2L 1병 증정)
                                            </label>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <h4 class="com-tit">결제정보</h4>
                        <div class="order-detail od3">
                        <dl class="clear">
                            <dt>결제수단</dt>
                            <dd>
                                <ul class="clear dd1">
                                    <li>
                                        <input type="radio" name="payment" value="card" id="credit">
                                        <label for="credit">신용카드</label>
                                    </li>
                                    
                                    <li>
                                        <input type="radio" name="payment" value="naverpay" id="naverpay-direct" class="vam" checked="">
                                        <label for="naverpay-direct" class="vam ti-9999 n_pay">네이버페이</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="payment" value="kakaopay" id="kakaopay-direct" class="vam">
                                        <label for="kakaopay-direct" class="vam ti-9999 k_pay">카카오페이</label>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="clear">
                            <dt>매출증빙</dt>
                            <dd>
                                <ul class="clear dd2">
                                    <li>
                                        <input type="radio" name="receipt" value="none" id="noR" checked="">
                                        <label for="noR">발급안함</label>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="clear">
                            <dt>최종결제금액</dt>
                            <dd>
                                <span id="calc-amount-text"></span>원
                            </dd>
                        </dl>
                    </div>
                    <div class="order-btn-box">
                        <a href="/bag" class="btn_style1">장바구니</a>
                        <a href="/account/order/detail" id="payBtn" class="btn_style2 deliverable-show">결제하기</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer th:replace="~{fragment/footer :: footerFragment}"></footer>
    </section>
    <script src="/static/js/order/order.js"></script>
</body>
</html>