<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/sub.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>아이디/비밀번호찾기</title>
</head>
<body>
    <section id="wrap">
        <section th:replace="~{header :: headerFragment}"></section>
            <section id="content">
                <section id="content-in" class="member">
                    <div class="new-box w1260" id="logIn">
                        <div class="sub-title login-title">
                        </div>
                        <div class="login-tab">
                            <ul>
                                <li class="on">아이디 찾기</li>
                                <li>비밀번호 찾기</li>
                            </ul>
                        </div>
                        <div class="loginF-wrap">
                            <div class="logForm">
                                <form name="findIdForm" method="post" action="">
                                    <input type="hidden" name="_token" value="">
                                    <label class="log_label">이름</label>
                                    <input class="order-num" type="text" placeholder="이름을 입력해주세요." name="name" required="">
                                    <label class="log_label">휴대폰번호</label>
                                    <input class="order-phone" type="text" placeholder="숫자만 입력해주세요." name="phone" required="">
                                    <div class="add-btnbx login-btn log2">
                                        <a href="" class="confirm-btn">확인</a>
                                    </div>
                                </form>
                            </div>
                            <div class="logForm2 logForm-invisible">
                                <form name="findPwForm" method="post" action="">
                                    <input type="hidden" name="_token" value="">
                                    <label class="log_label">이름</label>
                                    <input class="order-num" type="text" placeholder="이름을 입력해주세요." name="name" required="">
                                    <label class="log_label">아이디</label>
                                    <input class="order-num" type="text" placeholder="아이디를 입력해주세요." name="username" required="">
                                    <label class="log_label">휴대폰번호</label>
                                    <input class="order-phone" type="text" placeholder="숫자만 입력해주세요." name="phone" required="">
                                    <div class="add-btnbx login-btn log2">
                                        <a href="" class="confirm-btn">확인</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    <footer th:replace="~{footer :: footerFragment}"></footer>
    <script src="/static/js/forgot.js"></script>
</body>
</html>