<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fragment/layout.css">
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/mypage/likes.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>스파클몰</title>
</head>
<body>
    <section th:replace="~{fragment/header :: headerFragment}"></section>
        <div class="mypage-all">
            <div class="myInfo-top">
                <ul>
                    <li><img src="/static/images/img/my_face.png"></li>
                    <li><p class="username">temp</p><p class="user-id">username</p></li>
                    <li><a href="/users/edit"><img src="/static/images/img/setting.png"></a></li>
                    <li><a href=""><p>정기배송</p><p class="blue-t">0</p></a></li>
                    <li><a href="/account/order"><p>주문&#183;배송</p><p class="blue-t">0</p></a></li>
                    <li><a href="/account"><p>관심상품</p><p class="blue-t">0</p></a></li>
                    <li><a href=""><p>쿠폰</p><p class="blue-t">0개</p></a></li>
                    <li><a href=""><p>적립금</p><p class="blue-t">0원</p></a></li>
                </ul>
            </div>
            <div class="main-box">
                <section class="mypage-box">
                    <h1>MYPAGE</h1>
                    <ul>
                        <li><a href="/account">관심상품</a></li>
                        <li><a href="/account/order">주문&#183;배송</a></li>
                        <li><a>상품후기</a></li>
                        <li><a>고객센터</a></li>
                        <li><a href="/users/edit">개인정보관리</a></li>
                        <li><a href="/users/delete">회원탈퇴</a></li>
                    </ul>
                </section>
                <section class="mypage-likes">
                    <h1>관심상품</h1>
                    <div class="likes-box">
                        <img class="product-img" src="/static/images/product/500ml40.jpg">
                        <div class="product-explan">
                            <p>스파클 500mL 60병</p>
                            <p>13,800원</p>
                            <p>무료배송</p>
                        </div>
                        <div class="buttons">
                            <button class="likes-delete">삭제</button>
                            <button class="carier-plus"><img class="carier-img" src="/static/images/img/small-cart.png">담기</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer th:replace="~{fragment/footer :: footerFragment}"></footer>
</body>
</html>