<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/sub.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>스파클몰-회원가입</title>
</head>
<body>
    <section id="wrap">
        <header id="header" th:fragment="headerFragment"></header>

        <div id="load" style="display: none;">
            <img src="/static/images/img/loading.gif" alt="로딩">
        </div>
        <section id="content">
            <section id="content-in" class="member">
                <div class="new-box w1260">
                    <div class="sub-title">
                        <p>회원가입</p>
                    </div>
                </div>
                <div class="joinForm w1260">
                    <form method="post" onsubmit="return join01FormSubmitCheck(this)">

                        <table class="new-tbl join-tbl">
                            <colgroup>
                                <col width="200px">
                                <col width>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>
                                        이름<span class="ico">*</span>
                                    </td>
                                    <td>
                                        <input type="text" class = "name" value="" label="이름" placeholder="이름을 입력해주세요">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        아이디<span class="ico">*</span>
                                    </td>
                                    <td>
                                        <input type="text" class="registerUsernameInput" name="username" value="" maxlength="16" placeholder="아이디를 입력해주세요">
                                        
                                        <span class="explain-text" style="margin-left: 1em;" id="registerUsernameMessage">
                                            
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        비밀번호<span class="ico">*</span>
                                    </td>
                                    <td>
                                        <input type="password" id="registerPasswordInput" label="비밀번호" placeholder="비밀번호를 입력해주세요" minlength="10" maxlength="20">
                                        <span class="explain-text" style="margin-left: 1em;" id="registerPasswordMessage">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        비밀번호확인<span class="ico">*</span>
                                    </td>
                                    <td>
                                        <input type="password" name="password_confirmation" id="registerPwConfirmInput" label="비밀번호" placeholder="비밀번호를 한 번 더 입력해주세요" minlength="10" maxlength="20">
                                        <span class="explain-text" style="margin-left: 1em;" id="registerPwConfirmMessage">
                                            
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        휴대폰번호<span class="ico">*</span>
                                    </td>
                                    <td>
                                        <input type="text" class="registerCellphoneInput" value="" placeholder="숫자만 입력해주세요">
                                        <!-- <input type="button" value="인증요청" class="find_post btn_style3" id="btn_cert">
                                        <input type="text" id="registerCellphoneAuthInput" name="cellphone_auth" value="" class="w165" placeholder="인증번호" style="display:none;">
                                        <input type="button" value="인증확인" class="find_post btn_style3" id="btn_cert_confirm" style="display:none;"> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        주소<span class="ico">*</span>
                                    </td>
                                    <td class="address_inp">
                                        <input type="text" id="postCode" name="openPostcode" value="" readonly="readonly" class="w165" placeholder="우편번호">
                                        <input type="button" value="우편번호찾기" onclick="daumPostcode()" class="find_post"> <br>
                                        <input type="text" id="roadAddress" readonly="readonly" placeholder="서울 특별시 강동구 강일동 123">
                                        <input type="text" id="address_detail" class="mb0" placeholder="가나빌딩 1층">

                                        <input type="hidden" name="address_data" value="">

                                        <div class="explain-text" style="margin-top: 0.7em;" id="registerPostcodeMessage">

                                        </div>
                                    </td>
                                </tr>
                                <tr class="h60"></tr>
                                <tr class="join-agree">
                                    <td colspan="2">
                                        <input type="checkbox" id="chkAll">
                                        <label for="chkAll">
                                            <span class="agree-bold">전체 동의합니다</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr class="join-agree">
                                    <td colspan="2">
                                        <input type="checkbox" id="terms_agree" class="check" name="accept_terms" value="yes">
                                        <label for="terms_agree">
                                            <span>이용약관 동의 <small>(필수)</small></span>
                                        </label>
                                        <button type="button" class="agree_view terms">약관보기</button>
                                    </td>
                                </tr>
                                <tr class="join-agree">
                                    <td colspan="2">
                                        <input type="checkbox" id="privacy_agree" class="check" name="accept_privacy" value="yes">
                                        <label for="privacy_agree">
                                            <span>개인정보 수집 · 이용 동의 <small>(필수)</small></span>
                                        </label>
                                        <button type="button" class="agree_view privacy">약관보기</button>
                                    </td>
                                </tr>
                                <tr class="join-agree">
                                    <td colspan="2">
                                        <input type="checkbox" id="chk3" class="check" name="sms" value="1">
                                        <label for="chk3">
                                            <span>이벤트 혜택 알림 수신 동의 <small>(선택)</small></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr class="join-agree">
                                    <td colspan="2">
                                        <input type="checkbox" id="age_agree" class="check" name="older_than_14" value="yes">
                                        <label for="age_agree">
                                            <span>본인은 만 14세 이상입니다 <small>(필수)</small></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="add-btn-bx join-btn">
                            <input type="submit" class="confirm-btn" value="가입하기">
                        </div>
                    </form>
                </div>
            </section>
        </section>
        <footer th:fragment="footerFragment"></footer>
    </section>
    <script src="/static/js/register.js"></script>
    <script type="text/javascript" src="/static/js/edit.js"></script>

</body>
</html>