<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/mypage/userDelete.css">
    <title>회원탈퇴</title>
</head>
<body>
    <div class="myInfo-top">
        <ul>
            <li><img src="/static/images/img/my_face.png"></li>
            <li><p class="username">temp</p><p class="user-id">username</p></li>
            <li><a href=""><img src="/static/images/img/setting.png"></a></li>
            <li><a href=""><p>정기배송</p><p class="blue-t">0</p></a></li>
            <li><a href=""><p>주문&#183;배송</p><p class="blue-t">0</p></a></li>
            <li><a href=""><p>관심상품</p><p class="blue-t">0</p></a></li>
            <li><a href=""><p>쿠폰</p><p class="blue-t">0개</p></a></li>
            <li><a href=""><p>적립금</p><p class="blue-t">0원</p></a></li>
        </ul>
    </div>
    <div class="main-box">
        <section class="mypage-box">
            <h1>MYPAGE</h1>
            <ul>
                <li>관심상품</li>
                <li>주문&#183;배송</li>
                <li>상품후기</li>
                <li>고객센터</li>
                <li>개인정보관리</li>
                <li>회원탈퇴</li>
            </ul>
        </section>
        <section class="right-sec">
            <h1>회원탈퇴</h1>
            <table class="new-tbl">
                <colgroup>
                    <col width="200px">
                    <col width="">
                </colgroup>
                <tr class="table-top">
                    <td>탈퇴사유</td>
                    <td>
                        <div class="reason-td">
                            <ul class="reason-list">
                                <li>
                                    <input type="radio" name="reason" class="dlt-reason">
                                    <label for="reason">기타</label>
                                </li>
                                <li>
                                    <input type="radio" name="reason" class="dlt-reason">
                                    <label for="reason">배송 주문 불만족</label>
                                </li>
                                <li>
                                    <input type="radio" name="reason" class="dlt-reason">
                                    <label for="reason">사이트 이용 불편</label>
                                </li>
                                <li>
                                    <input type="radio" name="reason" class="dlt-reason">
                                    <label for="reason">상품품질 불만족</label>
                                </li>
                                <li>
                                    <input type="radio" name="reason" class="dlt-reason">
                                    <label for="reason">서비스 불만족</label>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
                </tr>
            </table>
            <div class="attention">
                <div class="att-left"><img src="/static/images/img/agree-icon01.png"></div>
                <div class="att-right">
                    <p>주의!</p>
                    <p>회원 탈퇴 시 회원님의 모든 정보가 바로 삭제되어집니다.</p>
                    <p>회원님의 개인정보, 주문내역, 적립금, 쿠폰 등 모든 정보가 쇼핑몰에서 삭제됩니다.</p>
                </div>
            </div>
            <div class="dlt-agree">
                <input type="checkbox" class="agree-ck">
                <label for="agree">정보삭제에 동의합니다.</label>
            </div>
            <div class="add-btnbx">
                <button class="confirm-btn">확인</button>
                <button class="cancel-btn">취소</button>
            </div>
        </section>
    </div>
<footer>
        <div class="footer-top">
            <div class="f-help">
                <ul class="footer-top-help">
                    <li><a href="">회사소개</a></li>
                    <li><a href="">고객센터</a></li>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보취급방침</a></li>
                    <li><a href="">사업자정보확인</a></li>
                </ul>
                <div class="f-site">
                    <div class="family-site">FAMILY SITE</div>
                    <ul class="family-site-ul invisible">
                        <li><a href="">스파클 홈페이지</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sections">
            <section class="left-section">
                <pre>스파클(주)    <span>|</span>    대표 : 전동훈    <span>|</span>    본사주소 : 충청남도 천안시 동남구 대정1길 19-11 스파클주식회사</pre>
                <pre>사업자등록번호 : 117-81-31135    <span>|</span>    통신판매업신고 : 제2014-충남천안-297호TEL : 1577-0368</pre>
                <pre>COPYRIGHT (C) 2022 SPARKLE ALL RIGHTS RESERVED.</pre>
            </section>
            <section class="right-section">
                <div class="call-number-img"><img src="/static/images/img/cs-icon.png"></div>
                <div class="call-number">
                    <p>고객센터</p>
                    <p>1577-0368</p>
                    <p>업무시간 : am 09:00 ~ pm 17:00<br/></p>
                    <p>토,일,공휴일 휴무</p>
                </div>
            </section>
            <div class="link-icon">
                <ul class="icon-list">
                    <li><a href="https://www.facebook.com/sparklemall/"><img src="/static/images/img/facebook.png" alt="페이스북"></a></li>
                    <li><a href="https://www.instagram.com/"><img src="/static/images/img/instagram.png" alt="인스타그램"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCfZZvWhunoUr1wZY2GqnpAA/featured"><img src="/static/images/img/youtube.png" alt="유튜브"></a></li>
                    <li><a href="https://blog.naver.com/sparklemall"><img src="/static/images/img/band.png" alt="네이버 밴드"></a></li>
                </ul>
            </div>
        </div>
</body>
</html>