@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.md-tab{
    display: flex;
    justify-content: space-between;
  
    width: 800px;
    margin-bottom: 50px
  }
  
  /*md추천 카테고리 타원 버튼*/

.category-btn{
  display: none;

}

.button-label{
  width: 250px;
  height: 80px;
  color: black;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 20px 3px rgb(0 0 0 /7%);
  cursor: pointer;
  margin-left: 13px;
  display: flex;
  align-items: center;
}
.button-label:nth-child(1){
  margin-left: 0;
}

.button-label span{
  margin: 5px 0 0 50px;
  font-size: 21px;
  font-weight: 500;

}
.button-label span > img{
  display:inline-block;
  vertical-align:middle;
  margin-right: 30px;
}


.category-btn:checked + .button-label{
  border: 2px solid #009eff;
}

  
  
  /* 그룹버튼 */
  .tab-sub-btn{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .sub-btn{
    display: none;
    margin-right: 70px;
  }

.sub-button-label{
  font-size: 22px;
  color: #333;
  font-weight: 500;

  margin-right: 70px;
}

.sub-btn[type=radio]:checked + .sub-button-label {
  color: #009eff;
}

.tab-sub-btn::before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #d5d5d5;
  bottom: -24px;
}


.sub-btn a::before {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    background-color: #009eff;
    width: 70px;
    opacity: 0;
    bottom: -23px;
}


  /*   sort    */

  .sort-top {
    width: 100%;
    height: 65px;

    line-height: 65px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .product-num {
    float: left;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.sort-box{
    display: flex;
    align-items: center;
}
.sort-box ul{
    display: block;
}

.sort-box li::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #009eff;
    width: 100%;
    opacity: 0;
    transition: opacity .3s;
}
.sort-box li.on::before {
    opacity: 1;
}
.sort-box li.on a{
    color: #009eff;
}
.sort-box li {
    display: block;
    position: relative;
    float: left;
    margin: 0 20px;
    box-sizing: border-box;
}
  
  
  
  
  
  /* contents*/
  .md-contents{
    width: 100%;
    margin-top: 73px;
    position: relative;
  }

.products{

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

}
.product img{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;

}

  .product{
    width: 24%;

    margin: 0 15px 60px 0;
    float: left;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
  }
  .product figure{
    width: 300px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  
  .product figure:hover .time-icon{
      opacity: 1;
  }
  
  .product figure a img{
    width: 100%;
    
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  
  .product figcaption {
    position: absolute;
    left: 13px;
    top: 16px;
    font-weight: 700;
    font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 100%;
    background-color: #f27370;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  
  .time-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    opacity: 0;
    transition: opacity .3s;
  }
  .time-icon button {
    display: inline-block;
    width: 52px;
    margin: 0 4px;
  }
  .time-icon button img{
    width: 52px;
    border-radius: 20px;
  }
  
  
  /* list의 text 설정 여기서*/
  .product-text{
    margin-top: 21px;
  }
  .product-text a{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
  }
  .price{
  line-height: 1;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
  
  font-family: 'Spoqa Han Sans';
  font-size: 25px;
  font-weight: 700;
  }
  .spoqa {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
  .gray{
    line-height: 1;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    word-break: keep-all;
   
    font-family: 'Spoqa Han Sans';
    font-size: 18px;
    margin-left: 11px;
    color: #888;
    font-weight: 500;
    position: relative;
    display: inline-block;
    text-decoration: line-through;
  }

  .product-text .blue{
    color: #009eff;
    margin-right: 9px;
  }
  
  
  
  