<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="myInfo-top" th:fragment="memberInfo (principalUser)">
  <ul>
    <li><img src="/static/images/img/my_face.png"></li>
    <li><p class="username" th:text="${principalUser.name}"></p><p class="user-id" th:text="${principalUser.username}"></p></li>
    <li><a href="/users/edit"><img src="/static/images/img/setting.png"></a></li>
    <li><a href=""><p>정기배송</p><p class="blue-t">0</p></a></li>
    <li><a th:href="|/account/order/${principalUser.username}|"><p>주문&#183;배송</p><p class="blue-t">0</p></a></li>
    <li><a href="/account"><p>관심상품</p><p class="blue-t">0</p></a></li>
    <li><a href=""><p>쿠폰</p><p class="blue-t">0개</p></a></li>
    <li><a href=""><p>적립금</p><p class="blue-t">0원</p></a></li>
  </ul>
</div>
</body>
</html>