@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  height: 100%;
}
main{
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.md-sec{
  width: 100%;
  background-color: rgba(181, 181, 181, 0.1);
  display: flex;
  justify-content: center;
}

.outer {
    /* border: 6px solid royalblue; */
    width: 1876px;
    display: flex;
    overflow-x: hidden;
  }
  
.inner-list {
    display: flex;
    transition: .5s ease-out;
    height: 100%;
  }



.slick-prev{
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
  -webkit-appearance: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .3s;
  top: 240px;
  left: 80px;
  text-indent: -9999px;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  background-image: url('/static/images/img/prev-icon.png');
  background-position: center;
}
.slick-next{
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
  -webkit-appearance: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .3s;
  top: 240px;
  right: 80px;
  text-indent: -9999px;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  background-image: url('/static/images/img/next-icon.png');
  background-position: center;

}

.inner-list:hover .slick-arrow{
  opacity: 1;
  
}

.inner img{
  display: inline-block;
  width: 100%;
}

.button-list {
    text-align: center;
  }



/* mid-area section 너비 조정해서 배너보다 작게*/
.mid-area{
  width: 90%;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  
}


.main-menu{
  height: 730px;
  padding: 100px 0;
}


.best-menu-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.txt-box{
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 10px;
}
.txt-box h2{
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.txt-box span{
  margin-left: 15px;
  color: #666;
  font-size: 21px;
  letter-spacing: -0.3px;
}

.go-menu{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  /* background-color: yellowgreen; */
}

.go-menu ul{
  display: flex;
  width: 100%;
  justify-content:center;
}
/* 각 상품 li */
.product{
  width: 25%;
  padding: 0 10px;
  
}
.product figure{
  position: relative;
}

.product figure:hover .time-icon{
    opacity: 1;
}

.product figure a img{
  width: 298px;

  border: 1px solid #ddd;
  border-radius: 20px;
}

.product figcaption {
  position: absolute;
  left: 13px;
  top: 16px;
  font-weight: 700;
  font-size: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 100%;
  background-color: #73c920;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.time-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  opacity: 0;
  transition: opacity .3s;
}
.time-icon button {
  display: inline-block;
  width: 52px;
  margin: 0 4px;
}
.time-icon button img{
  width: 52px;
  border-radius: 20px;
  border: none;
}


/* list의 text 설정 여기서*/
.product-text{
  margin-top: 25px;
}
.price{
line-height: 1;
list-style: none;
-webkit-tap-highlight-color: transparent;
word-break: keep-all;

font-family: 'Spoqa Han Sans', 'sans-serif';
font-size: 25px;
font-weight: 700;
}
.spoqa {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.gray{
  line-height: 1;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
 
  font-family: 'Spoqa Han Sans';
  font-size: 18px;
  margin-left: 11px;
  color: #888;
  font-weight: 500;
  position: relative;
  display: inline-block;
  text-decoration: line-through;
}
.product-text a{
  margin-bottom: 15px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}
.product-text .blue{
  color: #009eff;
  margin-right: 9px;
}



/* 두번째 배너  */

.outer2{
  width: 1260px;
  display: flex;
  overflow-x: hidden;
}

.inner-list2{
  display: flex;
  transition: .5s ease-out;
  height: 100%;
  overflow:hidden
}

.inner2 img{
  border-radius: 20px;
}



/*    md추천   */
.md-sec3{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-tit-box{
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
   display: flex;
   align-items: baseline;

   margin-bottom: 42px;
}

.m-tit {
  font-size: 35px;
  font-weight: 700;
  margin-right: 14px;
}
.m-sub-tit{
  color: #666;
  font-size: 20px;
}


/* md추천 todo: md tab부분  js처리 */
.md-tab{
  display: flex;
  justify-content: space-between;

  width: 800px;
  margin: 50px 0;
}

/*md추천 카테고리 타원 버튼*/

.category-tab-btn{
  width: 250px;
  height: 80px;
  color: black;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 20px 3px rgb(0 0 0 /7%);
  cursor: pointer;
}

.category-tab-btn span{
  font-size: 21px;
  font-weight: 500;
}
.category-tab-btn span > img{
  display:inline-block; 
  vertical-align:middle; 
  margin-right: 13px;
}

.category-tab-btn.on{
  border: 2px solid #009eff;
}



/* 그룹버튼 */
.tab-sub-btn{
  position: relative
}
.sub-btn-ul{
  display: flex;
}
.sub-btn{
  margin-right: 70px;
}
.sub-btn.on a{
  color: #009eff;
}
.sub-btn a{
  font-size: 22px;
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
.tab-sub-btn::before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #d5d5d5;
  bottom: -24px;
}



/* contents*/
.md-contents{
  margin-top: 73px;
  position: relative;
}
.product4{
  display: flex;
}
.product img{
  width: 298px;
  border: 1px solid #ddd;
  border-radius: 20px;

}

.exhibitions-box{
  padding: 100px 0;
  width: 1320px;
  height: 550px;
  overflow: hidden;
  position: relative;
}


/*   기획전 배너  */

.outer3 {
  /* border: 6px solid royalblue; */
  width: 1300px;
  height: 100%;
  position: absolute;
  left: 26px;
}

.inner-list3 {
  display: flex;
  transition: .5s ease-out;
  height: 100%;

  overflow-x: hidden;
}
.exhibitions{
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.exhibitions.off{
  opacity: 0;
}

.exhibition{
  width: 650px;
  border-radius:20px;
  overflow: hidden;
}

.exhibitions img{
  cursor: pointer;
}


.slick-prev.always{
  top: 180px;
  left: -25px;
  opacity: 1;
  background: url('/static/images/img/m-sec-prev.png') no-repeat center/cover;
  z-index: 1;
  box-shadow: 0 0 7px rgb(0 0 0 / 20%);
}
.slick-next.always{
  top: 180px;
  right: 15px;
  opacity: 1;
  background: url('/static/images/img/m-sec-next.png') no-repeat center/cover;
  z-index: 1;
  box-shadow: 0 0 7px rgb(0 0 0 / 20%);
}

.slick-prev.always:hover {
  background: url('/static/images/img/m-sec-prev-on.png');
  transition: all .3s;
}
.slick-next.always:hover {
  background: url('/static/images/img/m-sec-next-on.png');
  transition: all .3s;
}


/*   스파클의 다양한 서비스를 이용해 보세요!   */
.m-sec6{
  padding: 100px 0 ;

  
}

.m-link-box ul{
  width: 100%;
  display: flex;
  justify-content: center;

}
.m-link-box li+li {
  margin-left: 74px;
}


.m-link-box li a .img {
  display: block;
  width: 90px;
  height: 90px;
  position: relative;
  background: #f9fafd;
  border: 1px solid #edeff3;
  border-radius: 30px;
}

.m-link-box li a img {
  width: auto;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .3s;
}

.m-link-box li a:hover img {
  transform: translate(-50%, -50%) rotate(15deg);
  /* transform-origin: top; */
}

.m-link-box li span {
  display: block;
  font-size: 16px;
  color: #222;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}




