/* ======= @import =====*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);


/* ===== CSS RESET ===== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0;}
body {line-height:1; font-family: "Noto Sans KR", "Arial", sans-serif;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
a {text-decoration:none; color: #fff; font-family: "Noto Sans KR"; -webkit-tap-highlight-color: transparent; -o-tap-highlight-color: transparent; -ms-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent;}
div{-webkit-tap-highlight-color: transparent;-o-tap-highlight-color: transparent;-ms-tap-highlight-color: transparent;-moz-tap-highlight-color: transparent;}
input{-webkit-tap-highlight-color: transparent; -o-tap-highlight-color: transparent; -ms-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent;}
select{-webkit-tap-highlight-color: transparent; -o-tap-highlight-color: transparent; -ms-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent;}
a:link{text-decoration:none; }
a:hover{text-decoration:none;}
a:visited{ text-decoration:none; }
li, ul, ol {list-style:none;}
u{text-decoration:none;}
img {
	border:0;
    vertical-align: top;
}
* {
    word-break: keep-all;
}

body{font-family: "Noto Sans KR", sans-serif;}

table{
    /* border-collapse: collapse; */
}

button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button; appearance:none; -moz-appearance:none; -webkit-appearance:none; cursor:pointer;}
input{box-sizing:border-box; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
input:focus {outline: 1px solid #009eff;}
select {box-sizing:border-box; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
select::-ms-expand {display: none;}
textarea:focus {outline: 1px solid #009eff;}

/* ===== Clear ===== */
.clear:after {
    content: "";
    display: block;
    clear: both;
}

.posR{position: relative;}
.arial{font-family: "Arial", sans-serif;}
.poppins{font-family: "Poppins", sans-serif;}
.spoqa {  font-family: 'Spoqa Han Sans';}


/* alertifyjs */
.ajs-modal {
    margin-top: 0px !important;
}
