@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;

}

figure { 
    margin: 0;
}

ol, ul, li{
    list-style: none;
}

p{
    display: block;
    line-height: 1;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
 text-decoration: none;
 color: black;
 
}
/* a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;} */

button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer}
