.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-select {
    position: relative;
    width: 200px;
    height: 50px;

    margin-right: 10px;
}

.date-select input {
    width: 200px;
    height: 50px;

    border: 1px solid #ddd;
    border-radius: 5px;

    margin-right: 10px;
}

.date-select img {
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 15px;
}

.date-buttons {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.date-buttons .date-button {
    width: 87px;
    height: 50px;
    
    border: 1px solid #333;
    color: #333;

    font-size: 15px;
}

.date-buttons .date-button-1 {
    width: 87px;
    height: 50px;

    border: 1px solid #333;
    background-color: #333;
    color: white;

    font-size: 15px;
}

.prod-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 990px;
    height: 162px;

    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;

    margin-bottom: 10px;
}

.prod-box p, span {
    margin: 0;
    padding: 0;
    line-height: 180%;
}

.prod-box span {
    color: #888888;
}

.prod-box .price {
    font-weight: 700;
    color: #333;
}

.img img {
    width: 81px;
    height: 81px;

    padding: 10px;
    margin-right: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.txtbx {
    position: relative;
    width: 990px;
    margin: 50px 0 24px;
}

.txtbx span {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.txtbx span small {
    font-weight: 400;
    font-size: 20px;
}

.txtbx span:nth-child(2) {
    font-size: 16px;
    color: #bbb;
    font-weight: 300;
}

.blue-txt span {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: #009eff;
    right: 0;
}

