.mypage-edit {
    display: inline-block;
    width: 990px;
    height: auto;
}

.mypage-edit h1 {
    padding: 20px 0px 20px;
    font-size: 30px;
    font-weight: 700;
}

.userInfo-in {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 990px;
}

.userInfo-in input {
    width: 790px;
    height: 40px;
    padding: 0px 15px;

    font-size: 16px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.userInfo-in .update_phone {
    width: 553px;
}

.new-tbl .sns-box {
    display: flex;
    align-items: center;
}

.userInfo-in .sns_inp {
    border: 1px solid #dfdfdf;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    padding: 0;
}

.userInfo-in .sns_inp:checked {
    background: url(/static/images/img/pay_chk_circle.png) no-repeat center;
    border-color: #009eff;
    background-size: 10px;
}

.userInfo-in label {
    margin: 0px 60px 0px 7px;
    font-weight: 400;
}

.userInfo-in .w168 {
    width: 168px;
    margin-bottom: 12px;
}

.userInfo-in .mb0 {
    margin-top: 12px;
}