<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/fragment/footer.css">
    <link rel="stylesheet" href="/static/css/fragment/layout.css">
    <link rel="stylesheet" href="/static/css/sub.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>스파클몰-로그인</title>
</head>
<body>
    <section id="wrap">
        <header th:replace="~{fragment/header :: headerFragment}"></header>
            <section id="content" class="member">
                <div class="new-box w1260" id="logIn">
                    <div class="sub-title login-title">
                        <p>로그인</p>
                    </div>
                    
                    <div class="loginF-wrap">
                        <div class="logForm on">
                            <form method="POST" action="/static/html/login.html">
                                <input type="hidden" name="_token" value="QYHjNiuiKOAmLopSgrD64aWPyyCYr288EIFHTjlW">
                                <input class="id" type="text" name="username" placeholder="아이디를 입력해주세요." value="">
                                <input class="pass" type="password" name="password" placeholder="비밀번호를 입력해주세요.">
                                <div class="login-mid">
                                    
                                    <label>
                                        <input class="chk" id="" type="checkbox" name="remember">
                                        로그인 유지
                                    </label>
                                    <p>
                                        <a href="/forgot">아이디/비밀번호 찾기</a>
                                    </p>
                                </div>
                                <div class="add-btnbx login-btn">
                                    <input type="submit" class="confirm-btn" value="로그인">
    
                                    <a href="/register" class="cancel-btn mb0">회원가입</a>
                                </div>
                            </form>
                        </div>
    
                    </div>
                </div>
            </section>
    </section>
        <footer th:replace="~{fragment/footer :: footerFragment}"></footer>
</body>
</html>