<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>footer</title>
</head>
<body>
    <div class="wrap"></div>
    <footer>
        <div>
            <div class="footer-top">
                <ul class="footer-top-help">
                    <li><a href="">회사소개</a></li>
                    <li><a href="">고객센터</a></li>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보취급방침</a></li>
                    <li><a href="">사업자정보확인</a></li>
                </ul>
                <div class="f-site">
                    <div class="family-site">FAMILY SITE</div>
                    <ul class="family-site-ul invisible">
                        <li><a href="">스파클 홈페이지</a></li>
                    </ul>
                </div>
            </div>
            <div class="sections">
                <section class="left-section">
                    <pre>스파클(주)    |    대표 : 전동훈    |    본사주소 : 충청남도 천안시 동남구 대정1길 19-11 스파클주식회사</pre>
                    <pre>사업자등록번호 : 117-81-31135    |    통신판매업신고 : 제2014-충남천안-297호TEL : 1577-0368</pre>
                    <pre>COPYRIGHT (C) 2022 SPARKLE ALL RIGHTS RESERVED.</pre>
                </section>
                <section class="right-section">
                    <div class="call-number-img"><img src="/static/images/img/cs-icon.png"></div>
                    <div class="call-number">
                        <p>고객센터</p>
                        <p>1577-0368</p>
                        <p>업무시간 : am 09:00 ~ pm 17:00<br/>
                        토,일,공휴일 휴무</p>
                    </div>
                </section>
            </div>
            <div class="link-icon">
                <ul class="icon-list">
                    <li><a href="https://www.facebook.com/sparklemall/"><img src="/static/images/img/facebook.png" alt="페이스북"></a></li>
                    <li><a href="https://www.instagram.com/"><img src="/static/images/img/instagram.png" alt="인스타그램"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCfZZvWhunoUr1wZY2GqnpAA/featured"><img src="/static/images/img/youtube.png" alt="유튜브"></a></li>
                    <li><a href="https://blog.naver.com/sparklemall"><img src="/static/images/img/band.png" alt="네이버 밴드"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>