<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스파클몰</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <div class="outer">
            <div class="inner-list">
              <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><i class="fa-regular fa-circle-chevron-left"></i></button>
              <div class="inner">
                <a href="#">
                  <img src="/static/images-banner-mungi/banner1.jpeg" alt="">
                </a>
              </div>
              <div class="inner">
                <a href="https://www.sparklemall.co.kr/main">
                  <img src="/static/images-banner-mungi/banner2.jpeg" alt="">
                </a>
              </div>
              <div class="inner">
                <a href="#">
                  <img src="/static/images-banner-mungi/banner3.jpeg" alt="">
                </a>
              </div>
              <div class="inner">
                <a href="#">
                  <img src="/static/images-banner-mungi/banner4.jpeg" alt="">
                </a>
              </div>
              <div class="inner">
                <a href="#">
                  <img src="/static/images-banner-mungi/banner5.jpeg" alt="">
                </a>
              </div>
              <button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><i class="fa-regular fa-circle-chevron-right"></i></button>
            </div>
            <div class="m-visual slick-initialized slick-slider">
            </div>
          </div>

          <section class="mid-area">

            <div class="main-menu">
              <div class="best-menu-box">
                <div class="txt-box">
                  <h2>인기상품</h2>
                  <span>가장 많이 팔리는 베스트상품입니다.</span>
                </div>
                <div class="go-menu">
                    <ul>
                      <!--- 뿌리기 --->
                        <li class="product">
                          <a href="#">
                            <img src="/static/images/product/2L24-36.jpg">
                          </a>
                          <div class="product-text">
                            <h4>스파클 2L 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </ll>
                        <li class="product">
                          <a href="#">
                            <img src="/static/images/product/2L24-36.jpg">
                          </a>
                          <div class="product-text">
                            <h4>스파클 2L 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </ll>
                        <li class="product">
                          <a href="#">
                            <img src="/static/images/product/2L24-36.jpg">
                          </a>
                          <div class="product-text">
                            <h4>스파클 2L 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </ll>
                        <li class="product">
                          <a href="#">
                            <img src="/static/images/product/2L24-36.jpg">
                          </a>
                          <div class="product-text">
                            <h4>스파클 2L 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </ll>
                    </ul>
                </div>
              </div>
            </div>

            <!--두번째 배너-->
            
              <div class="outer2">
                <div class="inner-list2">
                  <div class="inner2">
                    <a href="#">
                      <img src="/static/images/banner/second_ban1.jpeg" alt="">
                    </a>
                  </div>
                  <div class="inner2">
                    <a href="https://www.sparklemall.co.kr/main">
                      <img src="/static/images/banner/second_ban2.jpeg" alt="">
                    </a>
                  </div>
                  <div class="inner2">
                    <a href="#">
                      <img src="/static/images/banner/second_ban3.jpeg" alt="">
                    </a>
                  </div>
                <div class="m-visual slick-initialized slick-slider">
                </div>
                </div>
              </div>
          </section>

              <div class="md-sec3">
                <div class="md-sec-in">
                  <div class="m-tit box">
                    <h4 class="m-tit">MD 추천</h4>
                    <span class="m-sub-tit">가격부터 구성까지! 합리적인 제품만 추천드립니다.</span>
                  </div>
                  <div class="md-tab">
                    <!--- 클릭시 on 추가 버튼 인덱스 = categoryList 인덱스 -->
                    <button class="category-tab-btn on"><span><img src="/static/images/img/md-icon01.png" alt=""> 생수</span></button>
                    <button class="category-tab-btn"><span><img src="/static/images/img/md-icon02.png" alt=""> 탄산음료</span></button>
                    <button class="category-tab-btn"><span><img src="/static/images/img/md-icon04.png" alt=""> 생수 부자재</span></button>
                  </div>
                  
                    <!--- group 버튼. li 지우고 js에서 group 별로 뿌리기 -->
                  <div class="tab-sub-btn">
                    <ul class="sub-btn-ul clear"><!-- style="display: block;"-->
                      <li class="sub-btn "><a href="javascript:;">2L</a></li>
                      <li class="sub-btn on"><a href="javascript:;">500mL</a></li>
                      <li class="sub-btn"><a href="javascript:;">330mL</a></li>
                      <li class="sub-btn"><a href="javascript:;">18.9L</a></li>
                      
                      <li class="sub-btn"><a href="javascript:;">세트상품</a></li>
                      <li class="sub-btn"><a href="javascript:;">대량상품</a></li>
                  </ul>
                  </div>

                  <!-- product 가져와서 뿌리기  -->
                  <div class="md-contents m-product2">
                    <div class="con-box">
                      <ul class="product4">

                        <!--- 상세 페이지로 가기위해 group별로 가져온 product 뿌리기 js에서 onclick= location.href -->
                        <li class="product">
                          <img src="/static/images/product/500ml120.jpg">
                          <div class="product-text">
                            <h4>스파클 500ml 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </li>
                        <li class="product">
                          <img src="/static/images/product/500ml20.jpg">
                          <div class="product-text">
                            <h4>스파클 500ml 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </li>
                        <li class="product">
                          <img src="/static/images/product/500ml200.jpg">
                          <div class="product-text">
                            <h4>스파클 500ml 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </li>
                        <li class="product">
                          <img src="/static/images/product/500ml40-80.jpg">
                          <div class="product-text">
                            <h4>스파클 500ml 24병</h4>
                            <p class="price spoqa">
                                                <span class="blue">25%</span>
                                    14,900원
                                    <span class="gray spoqa">20,000원</span>
                                        </p>
                            </div>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                
                  <!----productList의 카테고리 각 li마다 -->
                  
                </div>
              </div>
            
    </main>
    <!-- <script src="/static/js/productList.js"></script> -->
    <script src="/static/js/slideShow.js"></script>  
</body>
</html>