<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/orderComplete.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>주문완료</title>
</head>
<body>

    <section id="content">
    <section id="content" class="member">
        <div class="new-box w1260">
            <div class="sub-title">
                <p>주문완료</p>
            </div>
        </div>
        <div class="pay-box w1260">
            <div class="top">
                <h4 class="poppins">THANK YOU</h4>
                <span>
                                                <b>백민경</b>님의
                                                                                                        주문접수가 완료되었습니다.
                                                                    </span>
            </div>
            <div class="pay-in">
                                        <div class="info">
                        <h4 class="com-tit">결제정보</h4>
                        <div class="order-detail">
                            <dl class="clear">
                                <dt>주문번호</dt>
                                <dd>
                                    RKR4AJY9LQ8P
                                </dd>
                            </dl>
                            <dl class="clear">
                                <dt>총 상품금액</dt>
                                <dd>6,000원</dd>
                            </dl>
                            

                                                            <dl class="clear">
                                <dt>쿠폰사용</dt>
                                <dd>0원</dd>
                            </dl>
                            <dl class="clear">
                                <dt>적립금사용</dt>
                                <dd>0원</dd>
                            </dl>
                            
                            <dl class="clear">
                                <dt>결제방법</dt>
                                <dd>네이버페이</dd>
                            </dl>
                            <dl class="clear">
                                <dt><b>최종 결제금액</b></dt>
                                <dd><b>6,000원</b></dd>
                            </dl>

                                                        </div>
                    </div>

                    <div class="info">
                        <h4 class="com-tit">배송정보</h4>
                        <div class="order-detail">
                            <dl class="clear">
                                <dt>받는사람</dt>
                                <dd>
                                    백민경
                                </dd>
                            </dl>
                            <dl class="clear">
                                <dt>휴대전화</dt>
                                <dd>010-9243-0712</dd>
                            </dl>
                            <dl class="clear">
                                <dt>배송주소</dt>
                                <dd>부산 사하구 승학로71번길 146 (당리동, 경보이리스힐 당리) 101동 1202호</dd>
                            </dl>
                            <dl class="clear">
                                <dt>배송구분</dt>
                                <dd>무료배송</dd>
                            </dl>
                            <dl class="clear">
                                <dt>배송 요청사항</dt>
                                <dd>문 앞에 놓아주세요</dd>
                            </dl>
                            <dl class="clear">
                                <dt>공동현관</dt>
                                <dd></dd>
                            </dl>
                            
                        </div>
                    </div>
                
                <div class="info">
                    <h4 class="com-tit">주의!</h4>
                    <div class="order-detail pay-order-detail">
                        <ul>
                            <li>무통장입금의 경우, <b class="blue">6일 이내</b>로 입금하셔야하며 이후 입금되지 않은 주문은 자동으로 취소됩니다.</li>
                            <li>배송은 결제완료 후 1~3일 정도 소요됩니다.</li>
                            <li>상품별 자세한 배송과정은 주문조회를 통하여 조회하실 수 있습니다.</li>
                            <li>주문의 취소 및 환불, 교환에 관한 사항은 이용안내의 내용을 참고해 주세요.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


</body>
</html>