<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>고객센터</title>
</head>
<body>
    <section th:replace="~{header :: headerFragment}"></section>
    <footer th:replace="~{footer :: footerFragment}"></footer>
</body>
</html>