<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>슬라이드</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="test.css">
</head>
<body>
  <div class="outer">
    <div class="inner-list">
      <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><i class="fa-regular fa-circle-chevron-left"></i></button>
      <div class="inner">
        <a href="#">
          <img src="images/banner1.jpeg" alt="">
        </a>
      </div>
      <div class="inner">
        <a href="https://www.sparklemall.co.kr/main">
          <img src="images/banner2.jpeg" alt="">
        </a>
      </div>
      <div class="inner">
        <ahref="#">
          <img src="images/banner3.jpeg" alt="">
        </a>
      </div>
      <div class="inner">
        <ahref="#">
          <img src="images/banner4.jpeg" alt="">
        </a>
      </div>
      <div class="inner">
        <ahref="#">
          <img src="images/banner5.jpeg" alt="">
        </a>
      </div>
      <button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><i class="fa-regular fa-circle-chevron-right"></i></button>
    </div>
    <div class="m-visual slick-initialized slick-slider">
    </div>
    
  
    <!-- <div class="button-list">
    <button class="button-left">← Left</button>
    <button class="button-right">Right →</button> -->
  </div>
  <script src="slideShow.js"></script>  
</body>
</html>



  